:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "serif";
  --primary: #ff2575;
  --secondary: #b411ff;
  --dark: #0d0d1b;
}

body {
  background: var(--dark);
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.main-content {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 30%;
  padding-top: 2rem;
  padding-inline: 10rem;
  gap: 30%;
  align-items: center;
}

.user-info {
  width: 100%;
  height: fit-content;
  grid-template-rows: repeat(3, 100%);
  gap: 2rem;
}

.row {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.user-info .box {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #16162e;
  gap: 0.5rem;
}

.user-info .row:nth-child(1) .box {
  border-radius: 25px;
}

.balance {
  text-align: start;
  padding: 2rem;
}

.balance h1 {
  font-weight: 400;
  margin: 0;
}

.balance p {
  font-weight: bold;
  font-size: 5rem;
  margin: 0;
}

.smaller-box {
  border-radius: 15px;
  padding: 1rem;
}

.smaller-box h2 {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 0;
}

.smaller-box p {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  margin: 0;
}

#wallet {
  background-color: #b411ff;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(3, auto); /* 3 rows */
  align-items: center;
  width: 100%;
  height: 85vh; /* Full height of the viewport */
  justify-items: left; /* Align images to the right of each cell */
  align-items: right;
}

.image-grid img {
  width: 170px; /* Fixed width for the images */
  object-fit: cover; /* Maintain image proportions */
  border-radius: 0%; /* No border-radius */
}

.subscribe-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 70px;
  padding-inline: 1.5rem;
  background-color: #ff2575;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.2s;
}

.subscribe-box:hover {
  transform: scale(1.05);
}

.subscribe-link {
  text-decoration: none;
  color: #9b1f53;
}

.btns {
  gap: 2rem;
}

.btns a {
  width: 100%;
}

@media (max-width: 1536px) {
  .balance p {
    font-weight: bold;
    font-size: 3.5rem;
    margin: 0;
  }

  .smaller-box {
    border-radius: 15px;
    padding: 1rem;
  }

  .smaller-box h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
  }

  .smaller-box p {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    margin: 0;
  }

  .subscribe-box {
    font-size: 1.2rem;
  }
}

@media (max-width: 1280px) {
  .main-content {
    padding-inline: 6rem;
  }
}

@media (max-width: 1024px) {
  .main-content {
    padding-top: 6rem;
    padding-inline: 4rem;
    grid-template-columns: 1fr;
    gap: 0%;
  }

  .image-grid {
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    height: 100%;
  }

  .image-grid img {
    width: 140px; /* Adjust image size for smaller screens */
  }
}

@media (max-width: 768px) {
  .main-content {
    padding-inline: 2rem;
  }

  .image-grid img {
    width: 120px; /* Adjust image size for smaller screens */
  }
}

@media (max-width: 640px) {
  .main-content {
    padding-inline: 1rem;
  }
}
