:root {
  --dark: #0d0d1b;
  --primary: #ff0b65;
  --secondary: #b411ff;
}

nav {
  position: fixed;
  display: flex;
  color: var(--primary);
  align-items: center;
  justify-content: space-between;
  padding-inline: 10rem;
  top: 2;
  left: 0;
  right: 0;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-wrapper {
  width: 4rem;
}

.brand img {
  width: 100%;
}

.brand span {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.nav-list li:not(:last-child) {
  text-align: center;
  width: 6rem;
  height: 1.7rem;
  border-radius: 50px;
}

.nav-list li:not(:last-child):hover {
  background-color: var(--primary);
}

.nav-list li a {
  text-decoration: none;
  color: var(--primary);
}

.nav-list li:hover a {
  color: var(--dark);
}

.bell-wrapper {
  width: 2rem;
  cursor: pointer;
}

.bell-wrapper img {
  width: 100%;
}

.burger-wrapper {
  display: none;
  width: 3rem;
  cursor: pointer;
}

.burger-wrapper img {
  width: 100%;
}

@media (max-width: 1280px) {
  nav {
    padding-inline: 6rem;
  }
}

@media (max-width: 1024px) {
  nav {
    padding-inline: 3rem;
  }

  .nav-list {
    width: 100%;
    background-color: var(--primary);
    position: absolute;
    left: 0;
    top: 100%;
    gap: 0.3rem;
    flex-direction: column;
  }

  .nav-list li a {
    color: white;
    text-align: center;
  }

  .bell-wrapper {
    display: none;
  }

  .burger-wrapper {
    display: block;
  }
}

@media (max-width: 768px) {
  nav {
    padding-inline: 2rem;
  }
}

@media (max-width: 640px) {
  nav {
    padding-inline: 1rem;
  }
}
