:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "serif";
  --primary: #ff2575;
  --secondary: #b411ff;
  --dark: #0d0d1b;
}

body {
  background: var(--dark);
  color: #ffffff;
  padding: 0;
  margin: 0;
}

main {
  padding-top: 6rem;
  height: 100vh;
  padding-inline: 10rem;
  align-items: center;
  margin: 0;
}

main ul {
  width: 100%;
  justify-content: space-between;
  background-color: #2b2b3a;
  height: 3.5rem;
  border-radius: 25px;
  margin: 0;
  margin-bottom: 1.5rem;
  cursor: pointer;
  padding: 0;
}

main ul li {
  display: grid;
  grid-template-columns: 100px 1fr 200px;
  padding: 1.5rem;
  background-color: #2b2b3a;
  border-radius: 25px;
  margin: 0;
  margin-bottom: 1.5rem;
}

main ul li div {
  display: flex;
  flex-direction: column;
}

main ul li div:nth-child(3) {
  text-align: end;
}

main ul li img {
  width: 80px;
}

main ul li h5 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
main ul li p {
  width: 80%;
  color: #949494;
  margin: 0;
}

main ul li h6 {
  font-size: 1.5rem;
  color: var(--primary);
  margin: 0;
}

main ul li span {
  color: #b3b0b0;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}
