:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "serif";
  --primary: #ff2575;
  --secondary: #b411ff;
  --dark: #0d0d1b;
}

body {
  background: var(--dark);
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.main-content {
  height: 89vh;
  padding-top: 6rem;
  padding-inline: 10rem;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 10%;
}

h1 {
  font-weight: 200;
  font-size: 3.5rem;
  margin: 0;
}

#current-balance {
  font-size: 5rem;
  font-weight: bold;
}

.box {
  position: relative;
  background-color: #161629;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

h2 {
  color: var(--primary);
  margin: 0 0 0.5rem 0;
}

#edit {
  width: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

#monthly-limit {
  font-size: 2rem;
  margin: 0;
}

#budget-percentage {
  font-size: 2rem;
  margin: 0;
}

.wallet-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.wallet-buttons img {
  place-self: center;
  width: 3rem;
}

.wallet-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

h3 {
  margin: 0.5rem;
}

#registered-subs {
  width: 100%;
  height: 520px;
  list-style: none;
  padding-top: 6rem;
  overflow-y: scroll;
  padding-right: 1rem;
}

#registered-subs::-webkit-scrollbar {
  width: 8px;
}
#registered-subs::-webkit-scrollbar-track {
  background-color: #1a1a3d;
}

#registered-subs::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

#registered-subs li {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  background-color: #2b2b3a;
  height: 3.5rem;
  border-radius: 25px;
  margin: 0;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
#registered-subs li h5 {
  font-size: 1.5rem;
  margin: 0;
}
#registered-subs li h6 {
  font-size: 1.5rem;
  margin: 0;
}

.add-sub-container {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  background-color: #fff;
  border-radius: 25px;
  height: 450px;
  width: 800px;
  text-align: center;
}

#return-btn {
  right: 2rem;
  top: 2rem;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 30px;
  cursor: pointer;
}

.choose-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 4rem;
  gap: 2rem;
}

.choose-type p {
  color: #0d0d1b;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.choose-type button {
  height: 80px;
  width: 100%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}

#card-btn {
  background-color: var(--dark);
}
#mobile-btn {
  background-color: transparent;
  color: #0d0d1b;
  border: solid 2px #0d0d1b;
}

.card-form,
.mobile-form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 4rem 2rem 4rem;
  gap: 1rem;
}

.card-form button,
.mobile-form button {
  background-color: var(--dark);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.card-form > * {
  padding-left: 1rem;
  height: 3rem;
  width: 100%;
}

.mobile-form > *:not(:nth-child(1)) {
  padding-left: 1rem;
  height: 3rem;
  width: 100%;
  border: solid 1px black;
}

.mobile-form p {
  color: #0d0d1b;
  font-size: 1.2rem;
  font-weight: bold;
}

#card-register-btn,
#mobile-register-btn {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: var(--primary);
  cursor: pointer;
  border: 0;
}

.deposit-container,
.transfer-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 300px;
  width: 600px;
  padding: 2rem;
  gap: 2rem;
}
label {
  color: #161629;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.deposit-container > *,
.transfer-container > * {
  height: 50px;
}

.deposit-container input,
.transfer-container input {
  padding-left: 1rem;
  border: 1px solid var(--dark);
}

.deposit-container button,
.transfer-container button {
  background-color: #0d0d1b;
  color: #fff;
  font-weight: bold;
}
#exit-deposit,
#exit-transfer {
  position: absolute;
  top: 1.5rem;
  right: 0rem;
  transform: translate(-50%, -50%);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
